.fcol {
    color: blueviolet;
    font-size: 40px;
}
.f-col-top {
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 20px 20px 0px 0px;
    padding-top: 20px;
}

.f-col-top > h1 {
    color: whitesmoke;
}

.f-col-small {
    font-size: 18px;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 0px 0px 20px 20px;
}

.divpad{
    padding-top: 50px;
}

.divbtn{
    background-color: blueviolet;
    color: whitesmoke;
}
